footer.footer.bg-secondary.pt-4.text-light
.container
	.row.w-100.mb-5
		.col-md-4
			p.h5 Be in touch
			p.lead Lorem ipsum dolor sit amet. consectetur adipisicing elit. At itaque temprobirus.
			form
				fieldset(disabled)
					.mb-2
						input.form-control(type="text" id="disabledTextInput" placeholder="Your Email Adress")
		.row.col-md-8
			.col-3
				p.h5 Shop
				p.lead.text-light For Women
				p.lead.text-light For Men
				p.lead.text-light Stores
				p.lead.text-light Our Blog
				p.lead.text-light Shop
			.col-3
				p.h5 Company
				p.lead.text-light Login
				p.lead.text-light Register
				p.lead.text-light Wishlist
				p.lead.text-light Our Products
				p.lead.text-light Checkouts
			.col-3
				p.h5 Your account
				p.lead.text-light Login
				p.lead.text-light Register
				p.lead.text-light Wishlist
				p.lead.text-light Our Products
				p.lead.text-light Checkouts

	.row.justify-content-between.pt-2.pb-2
		.col
			small 2017-2021
		.col.text-end
			small Пользовательское соглашение | Политика использования Cookies