html
	head
		title= title
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
	body
		include partials/navbar.pug

		section
			.container
				h1= message

